Checks: bugprone-*,clang-analyzer-*,misc-*,performance-*,portability-*
FormatStyle: file
HeaderFileExtensions: ["", "h"]
ImplementationFileExtensions: ["c"]
UseColor: true
WarningsAsErrors: bugprone-*,clang-analyzer-*,misc-*,performance-*,portability-*
