# Compiler Artifacts
*.o
*.d
*.out

# Executables
*.exe
ndsmake

# Valgrind artifacts
valgrind.log
vgcore.*

# LSP / IDE integrations
compile_commands.json
.cache/
.vscode/

# Temporary file ignores...
*.back
*.sbin
*.nds
